body {
    background-color:#f0f0f0;
}

.content-view {
    height:100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.table-products {
    width:900px;
    height:100px;
}

.flash-messages {
    width: 55%;
    display: flex;
    justify-content: center;
}

.wrap-link-back {
    margin-top:1rem;
}